$dfcolor: #2150EC; //主色调
$colorsky: #eaf0fd; //辅助色
$colorred: #e40000; //辅助色
$coloryellow: #ffbf00; //辅助色
$color333: #333333; //文字
$color666: #666666; //文字
$color999: #999999; //文字
$colorbbb: #bbbbbb; //占位
$colorddd: #dddddd; //边框色
$coloreee: #eeeeee; //线条色
$bgcolor: #f7f8fa; //背景色
$bdcolor: rgba(221,221,221,1); //边框色
